/* Style Sheet */
body{
        padding-top:50px;
}

#haupt{
                /*background-color:#FFFFE5;*/
                width:700px;
                height:4280px;
                margin:auto;

                }
#tabkopf{
                /*background-color:#cccccc;#*/
                width:650px;
                height:50px;
                margin:auto;
                font-size:23px;
				font-variant:small-caps;
				text-align:center;
				
}
#tabbe{
                background-color:#E59900;
                width:650px;
                height:50px;
				margin-left:auto;
				margin-right:auto;
                font-size:23px;
                
                
}
.s1{
                width:120px;
                height:50px;               
                border-right:2px;
				border-right-color:#ffffff;
				border-right-style:solid;
                float:left;
                font-size:15px;
				font-family:Verdana,sans-serif,serif,monospace;
                text-align:center;
				vertical-align:middle;
				
			
				
}
.s2{
                width:430px;
                height:50px;              
                float:left;
                font-size:15px;
				font-family:Verdana,sans-serif,serif,monospace;
                text-align:center;				
				border-right:2px;
				border-right-color:#ffffff;
				border-right-style:solid;
				vertical-align:middle;
}
.s3{
                width:50px;
                height:50px;           
                margin-left:1px;
                float:left;
                font-size:15px;
				font-family:Verdana,sans-serif,serif,monospace;
                text-align:center;
				border-right:2px;
				border-right-color:#ffffff;
				border-right-style:solid;
				vertical-align:middle;
}
.s4{
                width:40px;
                height:50px;			
                margin-left:1px;
                float:left;
                font-size:15px;
				font-family:Verdana,sans-serif,serif,monospace;
                text-align:center;
				vertical-align:middle;
}
.tabze_1{
                background-color:#D9D9CC;
                width:650px;
                height:70px;
                margin:auto;
                margin-top:2px;
                

                                }
.tabze_2{
                background-color:#C0C0B2;
                width:650px;
                height:70px;
                margin:auto;
                margin-top:2px;
                


}
.sz1{
                width:120px;
                height:70px;                
                float:left;
                font-size:15px;
				font-family:Verdana,sans-serif,serif,monospace;                
				border-right:2px;
				border-right-color:#ffffff;
				border-right-style:solid;
				vertical-align:middle;
				text-align:center;
				font-style:oblique;
				
}
.sz2{
                width:425px;
                height:70px;                               
                float:left;
                font-size:15px;
				font-variant:normal;
				font-style:normal;
				font-family:Verdana,sans-serif,serif,monospace;
				
				border-right:2px;
				border-right-color:#ffffff;
				border-right-style:solid;
				padding-left:5px;
				
				
}
.sz3{
                width:50px;
                height:70px;                        
                margin-left:1px;
                float:left;
                font-size:15px;
				font-family:Verdana,sans-serif,serif,monospace;
                text-align:center;
				border-right:2px;
				border-right-color:#ffffff;
				border-right-style:solid;
				vertical-align:middle;
}
.gruen{
                width:42px;
                height:70px;                            
                float:left;
				background-color:green;
				color:inherit;
               
}
.rot{
                 width:42px;
                height:70px;                            
                float:left;
				background-color:red;
				color:inherit;
}
#erkl{
				width:150px;
				height:130px;
				position:fixed;
				background-color:white;
				top:50px;
				right:5px;
				left: 80%;
				border-style:solid;
				border-color:#000000;
				border-width:1px;
				padding-left:4px;
				
}
.sem{
				width:150px;
				height:22px;
}
#g{
				width:20px;
				height:20px;
				background-color:green;
				float:left;
}
#r{
				width:20px;
				height:20px;
				background-color:red;
				float:left;
}
.t{
				float:left;
				width:110px;
				margin:0 0 0 4px;
}

p{
	padding:0;
}
#tabfo { background-color:#E59900;
                width:650px;
                height:50px;
				margin-left:auto;
				margin-right:auto;
                font-size:23px;
				margin-top:2px;
	
}